.about-section, .about-cast, .about-creator
    padding: 8rem 0
    p 
        margin-bottom: 1rem
        font-size: 105%

.about-creator p
    font-size: 115%
    line-height: 1.4

.about-cast
    .card
        background-color: transparent !important
        border: none
    .card-img-top
        border-radius: 50%
    .card-title
        font-weight: bold