.signup-section 
    padding: 5rem 0
    font-family: $font-family-special
    form
        input, textarea
            box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important
            padding: 1.25rem 2rem
            height: auto
            font-family: $font-family-base
            font-size: 80%
            text-transform: uppercase
            letter-spacing: 0.15rem
            border: 0  
        .btn
          font-size: 95%
          font-weight: 900   
        .invalid-feedback
            width: 100%
    

