html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Car Therapy Web Series

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet")

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Masthead
        header.masthead

            // Navigation

            nav#mainNav.navbar.navbar-expand-lg.navbar-dark
                .container-fluid
                    a.navbar-brand.js-scroll-trigger(href='#page-top') Car Therapy
                    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                        | Menu
                        i.fas.fa-bars
                    #navbarResponsive.collapse.navbar-collapse
                        ul.navbar-nav.ml-auto
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(href="#about", id="navbarDropdownMenuLink", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") About
                                .dropdown-menu(aria-labelledby="dropdownMenuButton") 
                                    a.dropdown-item(href="#about-series") About the Series
                                    a.dropdown-item(href="#about-creator") Meet the Creator
                                    a.dropdown-item(href="#about-cast") Meet the Cast
                            li.nav-item
                                a.nav-link(href='#episodes') Watch
                            li.nav-item
                                 a.nav-link(href='#donate') Support                             
                            li.nav-item
                                a.nav-link(href='#signup') Connect
        

        // About Series
        section#about.about-section.text-center.dark-bg
            .container#about-series
                h2.mb-5.text-center About the Series
                .mt-5
                    .col-lg-8.mx-auto
                        p Car convos are some of the best therapy sessions money can't buy.
                        p Car Therapy is a digital comedy series about a down-on-her-luck college therapist who decides to drive for a ride sharing app to make ends meet during a pandemic. On her rides, she is exposed to new people and new parts of LA and always ends up dishing advice, whether solicited or not.
            
            .container-fluid.mx-auto.pt-5.d-flex.flex-sm-wrap.flex-lg-nowrap.justify-content-around.align-content-between.text-center
                .prod-still.p-2
                    img.img-fluid(src='assets/img/pd_still_4.jpg', alt='production still 4')
                .prod-still.p-2
                    img.img-fluid(src='assets/img/pd_still_2.jpg', alt='production still 2')
                .prod-still.p-2
                    img.img-fluid(src='assets/img/pd_still_3.jpg', alt='production still 3')
                .prod-still.p-2
                    img.img-fluid(src='assets/img/pd_still_1.jpg', alt='production still 1')
                .prod-still.p-2
                    img.img-fluid(src='assets/img/pd_still_5.jpg', alt='production still 5')
        
        section.light-bg.about-creator.text-center
            .container#about-creator
                .col-sm-12.mb-5
                    h2.mb-5 Meet the Creator
                .mt-5.d-flex.flex-xs-column.flex-md-row.flex-wrap.justify-content-center
                    .mb-5.mx-auto.col-md-6
                        img.img-fluid(src='assets/img/creator.jpg', alt='series-creator')
                    .align-self-center.col-md-5.offset-md-1
                        p Jennelle Williams is a storyteller at heart, who became a multi-hyphenate (writer/director/producer, and sometimes actor!) to get her stories told. She took the leap to LA after studying film in her hometown of DC, driving across the country for her dreams. Since moving to sunny California, she has worked on several sets, starting out as a PA and working her way up to staff writer on two sitcoms. She plans on taking her own projects to the big screens; writing and developing half-hour shows and feature length films focusing on multi-generational familial, platonic, and romantic relationships from a black woman's point of view. 

 
        section.text-center.dark-bg.about-cast
            .container#about-cast
                h2.mb-5 Meet the Cast
                .cast-section.d-flex.flex-wrap.mx-auto.justify-content-around.align-content-around
                    .cast-bio.px-2
                        .card(style='width: 22rem;').text-center
                            img.card-img-top.mx-auto(src='assets/img/Ash.jpg' alt='Card image cap')
                            .card-body.light-bg.my-4
                                h5.card-title Ash Saunders <br/> as "Nikki"
                                p.card-text Ash Saunders, a born and raised Long Islander, has always been super creative and active. It is the reason why she chose to pursue the entertainment industry as a child and furthered her study of the craft at Hampton University. She received her Bachelor in Performance Art, and from there, she landed an internship in Los Angeles- and the rest is history. The deeper she journeyed into the industry, the deeper her love grew working not only on camera but behind the scenes as well. Her life’s motto is, "It’s either a lesson or a blessing. Remember perspective is key". 
                  
                    .cast-bio.px-2
                        .card(style='width: 22rem;').text-center
                            img.card-img-top.mx-auto(src='assets/img/Jonnae.jpg' alt='Card image cap')
                            .card-body.light-bg.my-4
                                h5.card-title Jonnae Thompson <br/> as "Breanna"
                                p.card-text Jonnae Thompson is a stand-up comedian, actress, writer and vocalist born and raised in San Diego, California. You may recognize her from Tru TV’s “Laff Tracks” and Season 1 of Revolt TV’s “Funny AF," as well as internet platforms such as “All Def”. According to Jonnae, ordinary life is full of humor. From socio-economic conditions to body image obsession, she speaks from personal experience about real issues faced by real people. Her ability to find the  intersectionality we share across the globe is a breath of fresh air.

                    .cast-bio.px-2
                        .card(style='width: 22rem;').text-center
                            img.card-img-top.mx-auto(src='assets/img/Tony.jpg' alt='Card image cap')
                            .card-body.light-bg.my-4                                
                                h5.card-title Tony Baker <br/> as "Hoodie"
                                p.card-text Chicago native Tony Baker has been making people laugh for nearly a decade with his unique brand of humor and style. In addition to being seen performing at comedy clubs and organically making millions of people laugh worldwide with his viral voiceover videos, Tony Baker’s comedic skills has landed him on the big screen and television: finalist on NBC’s The Last Comic Standing, NBC’s The Carmichael Show, HBO’s All DEF Comedy, Trutv's Standup showcase, Laff Mobb’s Laff Tracks, the Academy Award nominated movie Whiplash and his many stand-up comedy specials. 

                    .cast-bio.px-2
                        .card(style='width: 22rem;').text-center
                            img.card-img-top.mx-auto(src='assets/img/Bileko.jpg' alt='Card image cap')
                            .card-body.light-bg.my-4
                                h5.card-title Bileko Wissa <br/> as "Christoph"
                                p.card-text Bileko Aziza Wissa Jr, is a Congolese-American stand up comedian and actor from LA. He's been on shows like “Laugh with Africa!” on Amazon Prime and sketches on Jimmy Kimmel Live! He is currently a part of a Congolese podcast and Comedy Group called “The Bantu Boyz” where they highlight Congolese culture through comedy and sketch while interviewing talent across the diaspora. He's looking forward to being a part of the Car Therapy series and working with talented director Jennelle Williams.

                    .cast-bio.px-2
                        .card(style='width: 22rem;').text-center
                            img.card-img-top.mx-auto(src='assets/img/Mina.jpg' alt='Card image cap')
                            .card-body.light-bg.my-4
                                h5.card-title Mina Q <br/> as "T"
                                p.card-text Mina Q- Not your average comedic talent, Mina Q. has pushed against the boundaries of societal norms and brought them to the stage and internet. Originally from Atlanta, Mina's move to Los Angeles immediately fueled her mission to transform all of her losses into laughs. From her self produced online content to her appearances on Tru TV's "Laff Mobb's Laff Tracks" and FoxSoul's "Tammi Mac Late Show," she's been hard at work creating an undoubtably diverse comedic arsenal.
                    .cast-bio.px-2
                        .card(style='width: 22rem;').text-center
                            img.card-img-top.mx-auto(src='assets/img/Jasmyn.jpg' alt='Card image cap')
                            .card-body.light-bg.my-4
                                h5.card-title Jasmyn Carter <br/> as "La'Daria"
                                p.card-text Jasmyn Carter is a young stand-up comedian from Cleveland, Ohio. She's toured improvs and various comedy clubs across the country, opening for legends such as John Witherspoon, Tommy Davidson, and many more. After taking her unique brand of comedy to the internet in 2213, she has gained more than 100,000 followers on Instagram from her original comedic sketches. Her dedication and creativity on and off stage are nothing short of a legend in the making.
                  
                    .cast-bio.px-2
                        .card(style='width: 22rem;').text-center
                            img.card-img-top.mx-auto(src='assets/img/Christian.jpg' alt='Card image cap')
                            .card-body.light-bg.my-4
                                h5.card-title Christian Krauspe <br/> as "Brian"
                                p.card-text Christian Krauspe is an Illinois native, coming from just outside the Windy City. As a graduate student, he earned his MFA in Playwriting from Arizona State, then moved to Los Angeles. His work has been performed all over the US. When not stuck at home because of a pandemic, Christian's main performance passion is Improv, and has most recently played at UCB and Second City. He really, really misses it.                    
                    .cast-bio.px-2
                        .card(style='width: 22rem;').text-center
                            img.card-img-top.mx-auto(src='assets/img/Karisa.jpg' alt='Card image cap')
                            .card-body.light-bg.my-4
                                h5.card-title Karisa Tate <br/> as "Amy"
                                p.card-text Karisa Tate is an LA based actor working in television, film and new media. She is a graduate of USC with a degree in Theatre and Cinematic Arts. Recently, Karisa wrote, starred in, and executive produced the new, dark comedy series, RxR. Karisa also starred in the comedic short, Across the Room, with the team from The Young and the Restless. It has picked up several awards, including Best Short at the Portland Film Festival. Prior to Across the Room, Karisa acted in the quirky film Apuelogy, which won best comedy at the Austin Short Film Festival.

                    .cast-bio.px-2
                        .card(style='width: 22rem;').text-center
                            img.card-img-top.mx-auto(src='assets/img/Cecelia.jpg' alt='Card image cap')
                            .card-body.light-bg.my-4
                                h5.card-title Cecelia Friday <br/> as "Chrissy"
                                p.card-text Cecelia Friday began her relationship with the arts at the age of 6. She's still honing her relationship as an adult, acting and dancing with some of the greats. Prior to moving to Los Angeles, Cecelia danced and acted in two national touring plays alongside Lynn Whitfield, Robin Givens and Clifton Powell. Since her move to LA, her talents have been more geared towards film and television where she currently has a running Uber Eats commercial and has done several movies including “The Man In 3B.” 

        // Donate
        section#donate.donate-section.text-center.light-bg
            .container
                .mx-auto
                    h2.mb-4 Become A Rider
                    h4.mb3 Donate and Join the CT Fam
                    .my-5.embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/hIrQO7wAv0I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .donate-buttons
                    .goFundMe.mx-auto.row
                        div.col-lg-5.col-md-8.no-gutters.mx-auto(class="gfm-embed" data-url="https://www.gofundme.com/f/car-therapy-web-series/widget/medium/")
                        script(defer src="https://www.gofundme.com/static/js/embed.js")
                    .mt-5.text-center
                        a.mx-auto(href='https://cash.app/$thatgirlcreates' target="_blank")
                            img(src="assets/img/cashapp.png", alt="CashApp", style="max-width:25%")
                    .mt-5.text-center
                        a.mx-auto(href='https://venmo.com/thatgirlcreates' target="_blank")
                            img(src="assets/img/venmo.png", alt="Venmo", style="max-width:25%")
        // Episodes
        section#epidodes.episodes-section.dark-bg
            .container
                h2.text-center Latest Episodes
                .latest-episode.my-5
                    iframe(width="560" height="315" src="https://www.youtube.com/embed/hIrQO7wAv0I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .container-fluid.text-center   
                .more-episodes.d-flex.flex-no-wrap.mx-auto
                    .episode.p-2
                        .card(style='width: 22rem;').mx-auto
                            img.card-img-top(src='...' alt='Card image cap')
                            .card-body
                                h5.card-title Episode 4

                    .episode.p-2
                        .card(style='width: 22rem;').mx-auto
                            img.card-img-top(src='...' alt='Card image cap')
                            .card-body
                                h5.card-title Episode 3

                    .episode.p-2
                        .card(style='width: 22rem;').mx-auto
                            img.card-img-top(src='...' alt='Card image cap')
                            .card-body
                                h5.card-title Episode 2

                    .episode.p-2
                        .card(style='width: 22rem;').mx-auto
                            img.card-img-top(src='...' alt='Card image cap')
                            .card-body
                                h5.card-title Episode 1
                             
        // Connect
        section#signup.signup-section.dark-bg
            .container
                .row
                    .col-md-10.col-lg-8.mx-auto.text-center
                        i.far.fa-paper-plane.fa-2x.mb-2
                        h2.mb-5 Connect with the CT Fam
                        form(action="https://formspree.io/f/myybboqp" method="post")
                            .form-group
                                .row
                                    .col-md-6.mb-3
                                        label(for="name") Name:
                                        input(name="name" id="name" type="text" aria-describedby="emailHelp" placeholder="Your Name" required).form-control
                                        .invalid-feedback Your name is required.

                                    .col-md-6.mb-3
                                        label(for="username") IG handle:
                                        .input-group
                                            .input-group-prepend
                                                .span.input-group-text @
                                            input(name="username" id="username" type="text" placeholder="IG Handle").form-control
                                .row
                                    .col-md-12.mb-3
                                        label(for="email") Email:
                                        input(name="Email" id="email" type="email" placeholder="you@example.com").form-control
                                .row
                                    .col-md-12.mb-3
                                        label(for="message") Your message:
                                        textarea(name="message" placeholder="Write something nice..." required).form-control
                                        .invalid-feedback A message is required.

                                button(type="submit").btn.btn-primary Submit

        // Contact (Socials)
        section.contact-section.light-bg
            .container
                .row
                .social.d-flex.justify-content-center
                    a.mx-2(href='https://open.spotify.com/user/12121805815' target="_blank")
                        i.fab.fa-spotify
                    a.mx-2(href='https://www.instagram.com/cartherapyseries/' target="_blank")
                        i.fab.fa-instagram

        // Footer
        footer.footer.small.text-center.light-bg
            .container
                | Copyright © Car Therapy Series 2020

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
       
        // Core theme JS
        script(src='js/scripts.js')