// Global styling
html, body 
    background: none $light-grey !important

iframe
    background: none transparent !important

body 
    letter-spacing: $base-letter-spacing
    font-size: 1.1rem

h1, h2
    font-family: $font-family-special

.light-bg
    background: $light-grey
    color: darken($primary, 10%)
    h1,h2
        color: $primary
        text-shadow: 1px 2px 1px $black    
.dark-bg
    background: darken($primary, 2%)
    color: $white
    h1,h2
        text-shadow: 1px 2px 3px $black
    .btn
        background: $light-grey
        color: $primary

.no-gutters 
  margin-right: 0
  margin-left: 0

  > .col,
  > [class*="col-"] 
    padding-right: 0
    padding-left: 0
